.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #EEEEEE;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 8px 0 #7D0A0A;
  font-size: 8rem;
  color: #BF3131;
}

h6 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #7D0A0A;
  font-size: 2rem;
  color: #BF3131;
}

p {
  font-size: 2rem;
  color: #7D0A0A;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #BF3131;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
